

.main{
	#carousel-news{
		padding-bottom: 30px;
		margin-bottom: 10px;
		max-height: 250px;
		
	}
	.carousel-inner .item img,
  	.carousel-inner .item a img {
 		width: 800%;
 		max-height: 250px;
		height: auto;
	}
	.news-header{
		background: #eeeff3;
		border-top: 3px solid $blue;
		height: 70px;
		margin-top: 5px;
		padding: 8px 10px 25px;
		text-transform: none;
	}
}
