

.main{

	#carousel-news{
		padding-bottom: 30px;
		margin-bottom: 10px;
		max-height: 250px;
	}

	.row {
	    margin-right: -15px;
	    margin-left: -15px;
	}

	.carousel-inner .item img,
  	.carousel-inner .item a img {
 		width: 100%;
 		max-height: 250px;
		height: auto;
		overflow: hidden;
		position: relative;
	}

	.news-header{
		background: #eeeff3;
		border-top: 3px solid $blue;
		height: 70px;
		margin-top: 5px;
		padding: 8px 10px 25px;
		text-transform: none;
		margin-top: 30px;
	}
	
	.new-article{	
		border-bottom: 1px solid #e7e7e7;
		margin-bottom: 20px;
		margin-top: 10px;
		padding-bottom: 10px;
		figure{
			padding-left: 0;
			display: block;
			margin: 0;
			.img-responsive{
				display: block;
				width: 100%;
				max-width: 100%;
				height: auto;
			}
			img {
				max-width:200px;
			    max-height:200px;
			    width: auto;
			    height: auto;
		    }
		}
		a{
			text-decoration: none;
			background: 0 0;
		}
		h5 {
		    margin-bottom: 2px;
		    margin-top: 10;
		    text-transform: uppercase;
		    color: #428bca;
		    font-size: 14px;
		    font-weight: 500;
		    line-height: 1.1;
		}
		h4{
			color: #000;
			margin-top: 2px;
			font-size: 18px;
			margin-bottom: 10px;
			font-weight: 500;
			line-height: 1.1;
		}
		p{
			color: #363636;
			margin: 0 0 10px;
			font-size: 14px;
		}
		
	}

	.art-sm{
		border-left: solid 1px #e7e7e7;
		margin-bottom: 10px;
		figure{
			display: block;
			margin: 0;
		}
		&:first-child{
			border-left: none;
		}
		a{
			color: #428bca;
			text-decoration: none;
			background: 0 0;
		}
		h5 {
		    margin-bottom: 2px;
		    margin-top: 10;
		    text-transform: uppercase;
		    color: #428bca;
		    font-size: 14px;
		    font-weight: 500;
		    line-height: 1.1;
		}
		h4{
			color: #000;
			margin-top: 2px;
			font-size: 18px;
			margin-bottom: 10px;
			font-weight: 500;
			line-height: 1.1;
		}
		p{
			color: #363636;
			margin: 0 0 10px;
			font-size: 14px;
		}
		.img-responsive{
			display: block;
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}

	.post-more {
	    clear: both;
	    float: right;
	    margin-top: 10px;
	    padding: 5px 5px 2px;
	    width: 100%;
	    a {
		    border-bottom: 3px solid #152c3e;
		    color: #596e7f;
		    float: right;
		    font-size: 16px;
		    padding: 1px 0px 5px 20px;
		    text-transform: uppercase;
			background: #eeeff3;
		    i{
		    	font-size: 1.4em;
		    	padding-left: 5px;
		    }
		}
	}
}	 
