.main{
	#sidebar{
		background: #f7f7f7;
	}
	.sidebar-custom {
		h3 {
    		color: #1567ae;
			margin: 15px 0;
			font-size: 18px;
			margin-bottom: 10px;
			font-weight: 500;
			line-height: 1.1;
			/*border-bottom: 1px solid #152c3e;*/

		}
		.sr-only {
		    position: absolute;
		    width: 1px;
		    height: 1px;
		    padding: 0;
		    margin: -1px;
		    overflow: hidden;
		    clip: rect(0,0,0,0);
		    border: 0;
		}
		a{
			color: #428bca;
			/*text-decoration: none;*/
			background: 0 0;

		}
		.btn-agenda{
			background: #e7e7e7; 
			width: 100%;
			font-size: 14px;
			color: #777;
			text-align: left;
			display: block;
			position: relative;
			overflow: hidden;
			padding: 15px 20px;
			margin: 15px 0;
			
			i{
				margin-right: 5px;
			}

			&:hover, &:focus, &:active{
			background: $blue;
			color: $white;
			opacity: 0.8;
			border: 1px solid $white;
			border-radius: 30% 0 30% 0;
			transition: 0.55s ease-in-out all;
		}
		}
	}
}