.main{
	.sidebar-custom {
		h3 {
    		color: #1567ae;
			margin-top: 0px;
			font-size: 18px;
			margin-bottom: 10px;
			font-weight: 500;
			line-height: 1.1;
		}
		.sr-only {
		    position: absolute;
		    width: 1px;
		    height: 1px;
		    padding: 0;
		    margin: -1px;
		    overflow: hidden;
		    clip: rect(0,0,0,0);
		    border: 0;
		}
		a{
			color: #428bca;
			text-decoration: none;
			background: 0 0;
		}
	}
}